<div class="center hero-unit">
  <h1>Přesměrovat na GigHub pro </h1>

  <h2>
    Kliknutím na odkaz 
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>


</div>

