<h1>Adresář firemních kontaktů</h1>

<p>Tato aplikace byla vytvořena pro fiktivní společnost Company. Účelem této aplikace je poskytnout fiktivním uživatelům jednoduchý adresář firemních kontaktů, s kterými jsou uživatelé adresáře v každodením fiktivním styku. Základní funkcionalita adresáře umožňuje uživatelům přidávat kontakty, které lze dále upravovat, zobrazovat či odstraňovat.  </p>

<td></td>

<h3>Pro vstup do adresáře klikněte na následující odkaz <a href="/companies">Adresář</a>, který Vás přesměruje přímo do centra dění, kde si můžete adresáš jednoduše vyzkoušet. </h3>

<p>Zdrojové kódy jsou k nalezení na stránce: <a href="https://github.com/janaLukaskovaja/first_app">Portál GitHub</a> </p>
</div>

</div>


